---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/home/Navbar.astro';
import AboutHero from '../components/about/AboutHero.astro';
import StatsRibbon from '../components/about/StatsRibbon.astro';
import PhilosophyHistory from '../components/about/PhilosophyHistory.astro';
import TeamSection from '../components/about/TeamSection.astro';
import AboutCTA from '../components/about/AboutCTA.astro';
import Footer from '../components/shared/Footer.astro';
---

<Layout title="About Us | Studio Alpha Architecture">
  <Navbar />
  <main>
    <AboutHero />
    <StatsRibbon />
    <PhilosophyHistory />
    <TeamSection />
    <AboutCTA />
  </main>
  <Footer />
</Layout>