---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/home/Navbar.astro';
import Footer from '../components/shared/Footer.astro';
import ProjectsHeader from '../components/projects/ProjectsHeader.astro';
import ProjectFilters from '../components/projects/ProjectFilters.astro';
import ProjectGrid from '../components/projects/ProjectGrid.astro';
import LoadMoreButton from '../components/projects/LoadMoreButton.astro';
---

<Layout title="Portfolio | Studio Alpha Architecture">
  <Navbar />
  <main class="flex-1 max-w-[1440px] mx-auto w-full px-6 md:px-10 pt-24 pb-12">
    <ProjectsHeader />
    <ProjectFilters />
    <ProjectGrid />
    <LoadMoreButton />
  </main>
  <Footer />
</Layout>