---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/home/Navbar.astro';
import Footer from '../components/shared/Footer.astro';
import TermsHeader from '../components/terms/TermsHeader.astro';
import TermsSidebar from '../components/terms/TermsSidebar.astro';
import TermsContent from '../components/terms/TermsContent.astro';
import MobileDownloadButton from '../components/terms/MobileDownloadButton.astro';
---

<Layout title="Terms of Service | Legal Center">
  <Navbar />
  
  <main class="mt-24 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="flex flex-col lg:flex-row gap-12">
      <TermsSidebar />
      
      <div class="flex-1">
        <TermsHeader />
        <TermsContent />
      </div>
    </div>
  </main>
  
  <MobileDownloadButton />
  <Footer />
</Layout>